[flake8]
max-line-length = 100
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,migrations
max-complexity = 20
ignore = E203, W503, F401, E501, F841, E401, F541, F811, E741, E712, E226, E402, E302, E261, W293, W291, F821
per-file-ignores =
    */__init__.py: F401
